<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.easy.bpm.auth.mapper.MessageWhiteListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig.easy.bpm.auth.entity.MessageWhiteListDO">
        <id column="white_id" property="whiteId" />
        <result column="tenant_id" property="tenantId" />
        <result column="process_id" property="processId" />
        <result column="white_type_code" property="whiteTypeCode" />
        <result column="white_list" property="whiteList" />
        <result column="order" property="order" />
        <result column="remarks" property="remarks" />
        <result column="valid_state" property="validState" />
        <result column="operator_id" property="operatorId" />
        <result column="operator_name" property="operatorName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      `white_id`,
      `tenant_id`,
      `process_id`,
      `white_type_code`,
      `white_list`,
      `order`,
      `remarks`,
      `valid_state`,
      `operator_id`,
      `operator_name`,
      `create_time`,
      `update_time`
<!--
        white_id, tenant_id, process_id, white_type_code, white_list, order, remarks, valid_state, operator_id, operator_name, create_time, update_time
-->
    </sql>

    <select id="getListByCondition" parameterType="com.pig.easy.bpm.auth.dto.request.MessageWhiteListQueryDTO"
            resultType="com.pig.easy.bpm.auth.dto.response.MessageWhiteListDTO">
        select
            <include refid="Base_Column_List"/>
        from
            bpm_message_white_list t
        where
            1 = 1
	   <if test="whiteId != null and whiteId != ''">
	         and t.white_id = #{whiteId}
        </if>

	   <if test="tenantId != null and tenantId != ''">
	         and t.tenant_id = #{tenantId}
        </if>

        <if test="processId != null and processId > 0">
	         and t.process_id = #{processId}
        </if>

	   <if test="whiteTypeCode != null and whiteTypeCode != ''">
	         and t.white_type_code = #{whiteTypeCode}
        </if>

	   <if test="whiteList != null and whiteList != ''">
	         and t.white_list = #{whiteList}
        </if>

        <if test="order != null and order > 0">
	         and t.order = #{order}
        </if>

	   <if test="remarks != null and remarks != ''">
	         and t.remarks = #{remarks}
        </if>

		<if test="validState != null and validState >= 0">
	         and t.valid_state = #{validState}
        </if>

        <if test="operatorId != null and operatorId > 0">
	         and t.operator_id = #{operatorId}
        </if>

	   <if test="operatorName != null and operatorName != ''">
	         and t.operator_name = #{operatorName}
        </if>

        <if test="createTime != null ">
	         and t.create_time = #{createTime}
        </if>

        <if test="updateTime != null ">
	         and t.update_time = #{updateTime}
        </if>

    </select>
</mapper>
