<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.easy.bpm.auth.mapper.SqlLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig.easy.bpm.auth.entity.SqlLogDO">
        <id column="log_id" property="logId" />
        <result column="log_type" property="logType" />
        <result column="log_sql" property="logSql" />
        <result column="spend_time" property="spendTime" />
        <result column="remarks" property="remarks" />
        <result column="valid_state" property="validState" />
        <result column="operator_id" property="operatorId" />
        <result column="operator_name" property="operatorName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      `log_id`,
      `log_type`,
      `log_sql`,
      `spend_time`,
      `remarks`,
      `valid_state`,
      `operator_id`,
      `operator_name`,
      `create_time`,
      `update_time`
<!--
        log_id, log_type, log_sql, spend_time, remarks, valid_state, operator_id, operator_name, create_time, update_time
-->
    </sql>

    <select id="getListByCondition" parameterType="com.pig.easy.bpm.auth.dto.request.SqlLogQueryDTO"
            resultType="com.pig.easy.bpm.auth.dto.response.SqlLogDTO">
        select
            <include refid="Base_Column_List"/>
        from
            bpm_sql_log t
        where
            1 = 1
	   <if test="logId != null and logId > 0">
	         and t.log_id = #{logId}
        </if>

	   <if test="logType != null and logType != ''">
	         and t.log_type = #{logType}
        </if>

	   <if test="logSql != null and logSql != ''">
	         and t.log_sql = #{logSql}
        </if>

	   <if test="spendTime != null and spendTime > 0">
	         and t.spend_time = #{spendTime}
        </if>

	   <if test="remarks != null and remarks != ''">
	         and t.remarks = #{remarks}
        </if>

		<if test="validState != null and validState >= 0">
	         and t.valid_state = #{validState}
        </if>

	   <if test="operatorId != null and operatorId > 0">
	         and t.operator_id = #{operatorId}
        </if>

	   <if test="operatorName != null and operatorName != ''">
	         and t.operator_name = #{operatorName}
        </if>

        <if test="createTime != null ">
	         and t.create_time = #{createTime}
        </if>

        <if test="updateTime != null ">
	         and t.update_time = #{updateTime}
        </if>

        order by t.log_id desc
    </select>
</mapper>
