<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.easy.bpm.generator.mapper.TemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig.easy.bpm.generator.entity.TemplateDO">
        <id column="template_id" property="templateId" />
        <result column="template_name" property="templateName" />
        <result column="template_content" property="templateContent" />
        <result column="template_type" property="templateType" />
        <result column="output_file_name" property="outputFileName" />
        <result column="template_path" property="templatePath" />
        <result column="template_group_id" property="templateGroupId" />
        <result column="tenant_id" property="tenantId" />
        <result column="remarks" property="remarks" />
        <result column="valid_state" property="validState" />
        <result column="operator_id" property="operatorId" />
        <result column="operator_name" property="operatorName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        template_id, template_name, template_content, template_type, output_file_name, template_path, template_group_id, tenant_id, remarks, valid_state, operator_id, operator_name, create_time, update_time
    </sql>

    <select id="getListByCondition" parameterType="com.pig.easy.bpm.generator.dto.request.TemplateQueryDTO"
            resultType="com.pig.easy.bpm.generator.dto.response.TemplateDTO">
        select
            <include refid="Base_Column_List"/>
        from
            code_template t
        where
            1 = 1
	   <if test="templateId != null and templateId > 0">
	         and t.template_id = #{templateId}
        </if>

	   <if test="templateName != null and templateName != ''">
	         and t.template_name like concat('%',#{templateName},'%')
        </if>

	   <if test="templateContent != null and templateContent != ''">
	         and t.template_content = #{templateContent}
        </if>

        <if test="templateType != null and templateType > 0">
	         and t.template_type = #{templateType}
        </if>

	   <if test="outputFileName != null and outputFileName != ''">
	         and t.output_file_name like concat('%',#{outputFileName},'%')
        </if>

	   <if test="templatePath != null and templatePath != ''">
	         and t.template_path like concat('%',#{templatePath},'%')
        </if>

	   <if test="templateGroupId != null and templateGroupId > 0">
	         and t.template_group_id = #{templateGroupId}
        </if>

	   <if test="tenantId != null and tenantId != ''">
	         and t.tenant_id = #{tenantId}
        </if>

	   <if test="remarks != null and remarks != ''">
	         and t.remarks = #{remarks}
        </if>

		<if test="validState != null and validState >= 0">
	         and t.valid_state = #{validState}
        </if>

        <if test="operatorId != null and operatorId > 0">
	         and t.operator_id = #{operatorId}
        </if>

	   <if test="operatorName != null and operatorName != ''">
	         and t.operator_name = #{operatorName}
        </if>

        <if test="createTime != null ">
	         and t.create_time = #{createTime}
        </if>

        <if test="updateTime != null ">
	         and t.update_time = #{updateTime}
        </if>

    </select>
</mapper>
