<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.easy.bpm.generator.mapper.TemplateGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig.easy.bpm.generator.entity.TemplateGroupDO">
        <id column="template_group_id" property="templateGroupId" />
        <result column="template_group_code" property="templateGroupCode" />
        <result column="template_group_name" property="templateGroupName" />
        <result column="tenant_id" property="tenantId" />
        <result column="remarks" property="remarks" />
        <result column="valid_state" property="validState" />
        <result column="operator_id" property="operatorId" />
        <result column="operator_name" property="operatorName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        template_group_id, template_group_code, template_group_name, tenant_id, remarks, valid_state, operator_id, operator_name, create_time, update_time
    </sql>

    <select id="getListByCondition" parameterType="com.pig.easy.bpm.generator.dto.request.TemplateGroupQueryDTO"
            resultType="com.pig.easy.bpm.generator.dto.response.TemplateGroupDTO">
        select
            <include refid="Base_Column_List"/>
        from
            code_template_group t
        where
            1 = 1
	   <if test="templateGroupId != null and templateGroupId > 0">
	         and t.template_group_id = #{templateGroupId}
        </if>

	   <if test="templateGroupCode != null and templateGroupCode != ''">
	         and t.template_group_code like concat('%',#{templateGroupCode},'%')
        </if>

	   <if test="templateGroupName != null and templateGroupName != ''">
	         and t.template_group_name like concat('%',#{templateGroupName},'%')
        </if>

	   <if test="tenantId != null and tenantId != ''">
	         and t.tenant_id = #{tenantId}
        </if>

	   <if test="remarks != null and remarks != ''">
	         and t.remarks = #{remarks}
        </if>

		<if test="validState != null and validState >= 0">
	         and t.valid_state = #{validState}
        </if>

        <if test="operatorId != null and operatorId > 0">
	         and t.operator_id = #{operatorId}
        </if>

	   <if test="operatorName != null and operatorName != ''">
	         and t.operator_name = #{operatorName}
        </if>

        <if test="createTime != null ">
	         and t.create_time = #{createTime}
        </if>

        <if test="updateTime != null ">
	         and t.update_time = #{updateTime}
        </if>

    </select>
</mapper>
